body{
    font-family: 'Roboto', sans-serif;
}

#r{
    color: #FD6E0A;
}
.sparate{
    display: flex;
    background-color: #FFF8F3;
}
.half-weith{
    width: 50%;
    padding-left: 3%;
    padding-top: 5%;
}
.half-weith img{
    width: 100%;
}
#contacts{
    padding-right: 50;
    
}
.dow{
text-decoration: none;
padding: 10px 25px;
background-color: #FD6E0A;
color: white;
border-radius: 5px;
font-weight: 600;
}
.con{
text-decoration: none;
padding:8px 20px ;
color: #FD6E0A;
border-radius: 5px;
border-style: solid;
margin-left: 20px;
font-weight: 600;
}
.txt{
    padding-bottom: 30px ;
    
}



.pro{
    text-decoration: none;
    padding-left: 170px;
    color: black;

}
.blog{
    text-decoration: none;
    padding: 50px;
    color: black;
}
.hire{
    text-decoration: none;
    font-weight: 600;
    padding: 20px 35px;
    background-color: #FD6E0A;
    color: white;
    border-radius: 7px;
}
