body{
    font-family: 'Roboto', sans-serif;
}
section{
display: flex;
background-color: #FFF8F3;
}
section img{
width: 105%;  
  
}
#dev{
    padding: 15px;
}

#r{
    color: #FD6E0A;
}

#hr{
    background-color: #FD6E0A;
    color:white;
    border-radius: 5%;
    border-style:hidden;
   
}
.mid{
    padding: 40px;
}
.last{
    padding: 20px;
}
#nam{
    padding-bottom: 70px;
    padding-left: 30px;
    font-size: 50px;
    font-weight: 200px;
}
.con{
    padding-left: 50%;
    padding-bottom: 20%;
    padding-top: 50px;
}
.bio{
    font-size: 25px;
    padding-left: 30px;
}
#mh{
    font-size: 50px;

}